body{
    background-color: #eccc68;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 70px;
    color: #cc2434;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: #e46434;
}
h3{
    display: flex;
    justify-content: center;
    width: 14.6%;
    margin-left: 10%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #2c4c7c;
    border: thick solid #2c4c7c;
}
h4{
    display: flex;
    width: 14.6%;
    color: #e46434;
    margin-left: 10%;
    padding-left: 1%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: white;
}
u {
    color: #2c4c7c;
}

.percussion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: thick solid #cc2434; */
    width: 50%;
    margin-left: 35%;
    margin-top: -35%;
}
.percussion-box{
    width: 300px;
    margin-top: 1%;
    height: 300px;
    background-color: #2c4c7c;
}

.percussion-label-top{
    display: flex;
    /* border: solid thick red; */
    justify-content: space-around;
    width: 53%;
    margin-left: 34%;
    margin-top: -35%;
}
.percussion-label-bottom{
    display: flex;
    /* border: solid thick red; */
    justify-content: space-around;
    width: 48%;
    margin-left: 35%;
    margin-top: 6%;
    padding-right: 1%;
}

#final-label{
    display: flex;
    justify-content: center;
    width: 48%;
    margin-left: 36%;
    margin-top: 6%;
}