body{
    background-color: #eccc68;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 70px;
    color: #cc2434;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: #e46434;
}
h3{
    display: flex;
    width: 14.6%;
    margin-left: 10%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #2c4c7c;
    border: thick solid #2c4c7c;
}
h4{
    display: flex;
    width: 14.6%;
    justify-content: center;
    color: #e46434;
    margin-left: 10%;
    margin-bottom: -4%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border: thick solid #2c4c7c;
}
u {
    color: #2c4c7c;
}